# Binaries
*.exe
*.dll
*.so
*.dylib
*.test
*.out

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store

# Build
bin/
build/

# Env
.env

# Logs
*.log

# Temp
tmp/
temp/

# Project binaries
cmd/main/main
cmd/publish/publish

# Test coverage
coverage.out
coverage.html

# Stress test results
results.bin
plot.html
